
:root{
    --nav-wide-width: 200px;
    --nav-medium-width: 80px;
    --nav-narrow-height: 50px;
    --nav-bg-color: #eee;
}

.baseCols{
	height: 100%;
	width: 100vw;
	display: flex;
	flex-direction: row;

	.appSideBarWrap{
		background: var(--nav-bg-color);
		height: 100%;
		padding: 20px;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
        position: fixed;
        bottom: 0;
		
		@media screen and (min-width: 1264px){ // Large - Desktop
			width: var(--nav-wide-width);
            .logo{
                font-size: 30px;
                font-weight: bold;
            }
		}
		@media screen and (min-width: 768px) and (max-width: 1263px){ // Laptop
			width: 80px;
            .logo{
                display: none;
            }
		}
		@media screen and (max-width: 767px){ // Mobile
			width: 100%;
			height: 50px;
			padding: 0;
			display: flex;
    		justify-content: center;
            .logo{
                display: none;
            }
		}
        
        .navWrap {
            display: flex;
            flex-direction: column;
            padding: 20px 0 0 0;
            gap: .8em;
        
            @media screen and (min-width: 768px) and (max-width: 1263px){ // Laptop
                gap: 1.2em;
            }
            @media screen and (max-width: 767px){ // Mobile
                padding: 0;
                flex-direction: row;
                justify-content: space-evenly;
            }
            
            

            .linkWrap{
                display: flex;
                flex-direction: row;
                color: black;
                gap: .5em;
                font-weight: bold;

                .icon{
                    display: block;
                }
                
                @media screen and (min-width: 768px) and (max-width: 1263px){ // Laptop
                    justify-content: center;
            
                    .title{
                        display: none;
                    }
                }
                @media screen and (max-width: 767px){ // Mobile
                    justify-content: center;
            
                    .title{
                        display: none;
                    }
                }
            
            }

            @media screen and (max-width: 767px){ // Mobile
                .showOnTop{
                    display: none;
                }
            }
        }
	}
	
	.pageWrap{
		background: #ddd;
		height: fit-content;
		padding: 20px;
		width: 100%;
		box-sizing: border-box;

        @media screen and (min-width: 1264px){ // Large - Desktop
            width: calc(100% - var(--nav-wide-width));
            margin-left: var(--nav-wide-width);
		}
		@media screen and (min-width: 768px) and (max-width: 1263px){ // Laptop
            width: calc(100% - var(--nav-medium-width));
            margin-left: var(--nav-medium-width);
		}
        @media screen and (max-width: 767px){ // Mobile
            margin: var(--nav-narrow-height) 0;
        }
	}

    .topBar{
        background: var(--nav-bg-color);
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding: 0 20px;
        position: fixed;
        top: 0;
        width: 100vw;

        .logo{
            font-size: 20px;
            font-weight: bold;
        }
        
        .topNavButtons{
            display: flex;
            flex-direction: row-reverse;
            .linkWrap{
                padding: 0 5px;
            }
            
        }
    }
    @media screen and (min-width: 768px){ // *NOT* Mobile
		.topBar{
            display: none;
        }
	}
}