.test {
    display: flex;
    justify-content: center;
    border: 1px solid #00000036;
    width: fit-content;
    margin-inline: auto;
    border-radius: 25px;
    padding: 5px 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 8px;
    background-color: #c9c9f357;
    font-size: 0.875rem;

    &.testHidden {
        display: none;
    }
}

/* Style to hide the div */



.messageWrapper {
    display: flex;
    column-gap: 4px;
    
    .profileImg {
        img{
            border-radius: 50%;
        }
        &.right {
            order: 1;
        }
    }

    &.alignRight {
        align-self: flex-end;
        justify-content: end;
    }

    .message{
        background-color: #822faf8d;
        color: black;
        position: relative;
        max-width: 50%;
        border-radius: 20px;
        padding: 5px 10px;                
    
        .time {
            font-size: 12px;
            color: rgba(245, 245, 245, 0.833);
            text-align: right;
            margin: unset;
            margin-block: 5px;
        }
    }
}