.chatTop {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    border-top-right-radius: 5px;
    padding: 5px;
    margin-bottom: 3px;
    background-color: #f0f0f0;
    
    p {
        margin: unset;
    }

    .userInfo{
        display: flex;
        justify-content: space-between; 
        flex-grow: 1;   
        padding: auto;
    
        .exitIcon{
            // position: absolute;
            padding: 7px;
        }
    }
}
