.title {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.subtitle {
    font-size: 1rem;
}

.body {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1rem;
    font-weight: bold;  
    padding: 10px;
}