.post {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  width: 100%;

  .postHeader,
  .postFooter {
    padding: 10px;
    background-color: white;
    display: flex;
    align-items: center;
  }

  .postHeader {
    div {
      display: inline-block;
      vertical-align: top;
    }

    h6 {
      margin: 0;
      font-weight: 600;
    }

    p {
      margin: 0;
      font-size: 14px;
      color: #888;
    }
  }


  .profilePic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }


  .postBody {
    // padding: 10px;
    background-color: #fff;
    overflow: hidden;
    /* Initially hide overflowing text */
    text-overflow: ellipsis;
    /* Add ellipsis for truncated text */

    .imgCrop {
      position: relative;

      &::after {
        content: "";
        display: block;
        padding-bottom: 100%;

      }

      img {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    p {
      padding: 10px;
      margin: 0;
    }

    &.showMore {
      overflow: visible;
    }

    .readMore {
      background-color: transparent;
      color: #333;
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;
      text-decoration: underline;

      &:hover {
        background-color: #eee;
      }
    }
  }

  .postFooter {
    min-height: 60px;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-between;

    .likes {
      display: flex;
      align-items: center;

      .likeButton {
        height: 25px;
        margin-right: 4px;
        margin-left: 10px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .hand{
      .wavingHand {
        height: 26px;
        margin-right: 6px;
  
        &:hover {
          cursor: pointer;
        }
      }
  
      .pressToHelp {
        // margin-top: 18px;
        // margin-right: 15px;
      }
    }


    .report {
      height: 22px;
      width: 23px;
      margin-top: 2px;
      cursor: pointer;
    }
  }
}