.profileInfo {
  position: relative; 
  display: flex;
  align-items: flex-start;
}

.topActions {
  position: absolute;
  top: 0;
  right: 0;
}

.btnEdit {
  width: fit-content;
}

.actions {
  display: flex;
  gap: 0.7rem;
}

.profileInfo {
  display: flex;
  align-items: flex-start;
}

.profileLeft {
  margin-right: 150px; 
}

.profileRight {
  flex-grow: 1;
}

.stats {
  display: flex;
  gap: 50px;
}

.stat {
  text-align: center;
  
}

.statNumber {
  font-size: 1.2 rem;
  font-weight: bold;
}

.statText {
  font-size: 0.875rem;
  color: #666; 
  margin-top: -10px;
}

.info {
  text-align: left;
  padding: 8px;
}

.editBtn {
  cursor: pointer;
  border-radius: 50%;
  color: white;
  background-color: #777; 
  padding: 10px 10px; 
  display: flex;
  align-items: center;
  justify-content: right;
  margin-left: auto;
  transition: all 0.2s ease-in-out;
}

.editBtn:hover {
  background-color: #333; 
}

.editBtn svg {
  width: 16px;
  height: 16px;
}
