// socialIcons.module.scss
@import "../variables.scss"; 

.center {
  text-align: center;
  margin-top: 10px;
  border-color: $color-secondary;

  ul {
    list-style: none;
    position: relative;
    display: inline-block;

    .text {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background: $color-primary; 
      color: $color-text; 
      line-height: 50px;
      border-radius: 50px;
      font-size: 22px;
      pointer-events: none;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      transition: opacity 0.5s 0.75s ease-out;
      text-shadow: 0 0 100px $color-white;
    }

    &:hover .text {
      opacity: 0;
      transition: opacity 0.5s 0.125s ease-out;
    }

    li {
      display: inline-block;
      height: 50px;
      width: 50px;
      background: $color-primary; 
      text-align: center;
      line-height: 55px;
      margin: 0 4px;
      cursor: pointer;
      border-radius: 0px;
      transition: background-color 0.5s ease-out, border-radius 0.5s 0.25s ease-out, margin 0.5s 0.25s ease-out;

      &:hover {
        background: $color-secondary; 
        border-radius: 50px; 
        margin: 0 3px; 
      }

      img {
        opacity: 0;
        transition: opacity 1.7s;
      }
    }

    &:hover li img {
      opacity: 1;
    }

    li:nth-child(1) {
      border-bottom-left-radius: 50px;
      border-top-left-radius: 50px;
    }

    li:nth-child(5) {
      border-bottom-right-radius: 50px;
      border-top-right-radius: 50px;
    }    
  }
}