.popoverWrap{
    display:flex;
    flex-direction: column;

    a{
        &:focus-visible{
            border: none;
            box-shadow: none;
        }
        display:flex;
        gap: 5px;
        padding: 15px 25px;
        border-bottom: 1px solid #ddd;
        color: #000;
        align-items: center;
    }
}